Button{
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-pref-height: 40;
	-fx-border-width: 2;
	-fx-border-color: midnightblue;
}

.productive{
	-fx-background-color: orange;
}

.relax{
	-fx-background-color: lightskyblue;
}

.food{
	-fx-background-color: lightcoral;
}

.sleep{
	-fx-background-color: deepskyblue;
}

#mentalHealthBar{
	-fx-accent: mediumslateblue;
}

#foodBar{
	-fx-accent: coral;
}

.borderpane{
	-fx-background-color: plum;
}

.displayText{
	-fx-font-size: 14;
	-fx-font-weight: bold;
}
